body{
    background-color: #6A7F52;
    font-family: Arial, sans-serif;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}
div {
    display: block;
    unicode-bidi: isolate;
}
header {
    background: #6a943a;
    padding: 30px;
    text-align: center;
    font-size: 35px;
    color: white;
  }
#nav{
    background-color: #2c4a0b;
    color: black;
    text-align: center;
    margin: auto;
    padding: 20px;
    font-size: 20px;
}

section{
    background-color: #B3C89C;
    color: black;
    padding: 5px;
}   
article {
    margin: 5px;
    padding: 5px;
    height: 100%;
    float: left;
    width: 40%;
    text-align: center;
    font-size: 20px;
}
aside{
    color: black;
    text-align: center;
    margin: 5px;
    padding: 5px;
    font-size: 20px;
    float: right;
    width: 30%;
}
footer{
    background-color: #38501C;
    color: white;
    text-align: center; 
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    font-size: 16px;
}
figure {
    border: thin #B3C89C solid;
    display: flex;
    flex-flow: column;
    padding: 5px;
    max-width: 220px;
    margin: auto;
}
figcaption {
    background-color: #8E9B80;
    color: black;
    font: italic smaller sans-serif;
    padding: 3px;
    text-align: center;
  }
.sidebar {
    background-color: #B3C89C;
    color: black;
    float: left;
    width: 20%;
    height: 700px;
    padding: 5px;
    list-style-type: none;
}
a:link {
    color: black;
}
a:visited {
    color: black;
}
a:hover {
    color: red;
}
* {
    box-sizing: border-box;
}
li {
    list-style-type: none;
}

.column {
    float: left;
    width: 67%;
    margin: 10px;
    padding: 22px;
    background-color: #B3C89C;
    height: 100%;
    text-align: center;
    font-size: 20px;
    flex-flow: column;
  }
.row:after {
    content: "";
    display: table;
    clear: both;
}